$colors: (
  primary: (
    100: hsl(0, 0%, 100%, 1),
    200: hsla(236, 100%, 87%, 1),
    300: hsla(235, 45%, 62%, 1),
    400: hsla(246, 80%, 60%, 1),
    450: hsla(236, 41%, 34%, 1),
    500: hsla(235, 46%, 20%, 1),
    600: hsla(226, 45%, 10%, 1),
  ),
  accent: (
    work: hsla(15, 100%, 70%, 1),
    play: hsla(195, 74%, 62%, 1),
    study: hsla(348, 100%, 68%, 1),
    exercise: hsla(145, 58%, 55%, 1),
    social: hsla(264, 64%, 52%, 1),
    self-care: hsla(43, 84%, 65%, 1),
  ),
);
