/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: normal;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-200: hsl(236, 100%, 87%);
  --clr-primary-300: hsl(235, 45%, 62%);
  --clr-primary-400: hsl(246, 80%, 60%);
  --clr-primary-450: hsl(236, 41%, 34%);
  --clr-primary-500: hsl(235, 46%, 20%);
  --clr-primary-600: hsl(226, 45%, 10%);
  --clr-accent-work: hsl(15, 100%, 70%);
  --clr-accent-play: hsl(195, 74%, 62%);
  --clr-accent-study: hsl(348, 100%, 68%);
  --clr-accent-exercise: hsl(145, 58%, 55%);
  --clr-accent-social: hsl(264, 64%, 52%);
  --clr-accent-self-care: hsl(43, 84%, 65%);
  --fs-300: 0.9375rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
}
@media only screen and (min-width: 60em) {
  :root {
    --fs-300: 0.9375rem;
    --fs-400: 1.125rem;
    --fs-500: 2.5rem;
    --fs-600: 3.5rem;
  }
}

body {
  font-family: "Rubik Variable", sans-serif;
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-100);
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
}
@media only screen and (min-width: 60em) {
  body {
    display: grid;
    align-items: center;
    padding-inline: 1rem;
  }
}

.fw-regular {
  font-weight: 300;
}

.fw-semi-bold {
  font-weight: 400;
}

.fw-bold {
  font-weight: 500;
}

.text-primary-100 {
  color: hsl(0, 0%, 100%);
}

.bg-primary-100 {
  background-color: hsl(0, 0%, 100%);
}

.text-primary-200 {
  color: hsl(236, 100%, 87%);
}

.bg-primary-200 {
  background-color: hsl(236, 100%, 87%);
}

.text-primary-300 {
  color: hsl(235, 45%, 62%);
}

.bg-primary-300 {
  background-color: hsl(235, 45%, 62%);
}

.text-primary-400 {
  color: hsl(246, 80%, 60%);
}

.bg-primary-400 {
  background-color: hsl(246, 80%, 60%);
}

.text-primary-450 {
  color: hsl(236, 41%, 34%);
}

.bg-primary-450 {
  background-color: hsl(236, 41%, 34%);
}

.text-primary-500 {
  color: hsl(235, 46%, 20%);
}

.bg-primary-500 {
  background-color: hsl(235, 46%, 20%);
}

.text-primary-600 {
  color: hsl(226, 45%, 10%);
}

.bg-primary-600 {
  background-color: hsl(226, 45%, 10%);
}

.text-accent-work {
  color: hsl(15, 100%, 70%);
}

.bg-accent-work {
  background-color: hsl(15, 100%, 70%);
}

.text-accent-play {
  color: hsl(195, 74%, 62%);
}

.bg-accent-play {
  background-color: hsl(195, 74%, 62%);
}

.text-accent-study {
  color: hsl(348, 100%, 68%);
}

.bg-accent-study {
  background-color: hsl(348, 100%, 68%);
}

.text-accent-exercise {
  color: hsl(145, 58%, 55%);
}

.bg-accent-exercise {
  background-color: hsl(145, 58%, 55%);
}

.text-accent-social {
  color: hsl(264, 64%, 52%);
}

.bg-accent-social {
  background-color: hsl(264, 64%, 52%);
}

.text-accent-self-care {
  color: hsl(43, 84%, 65%);
}

.bg-accent-self-care {
  background-color: hsl(43, 84%, 65%);
}

/*# sourceMappingURL=index.css.map */
